In [1]:
myset = {"apple", "banana", "cherry"}
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'banana', 'cherry', 'apple'}

In [2]:
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

In [3]:
myset = {"apple", "banana", "cherry"}
print(type(myset))

<class 'set'>

In [4]:
thisset = set(("apple", "banana", "cherry"))
print(thisset)

{'banana', 'cherry', 'apple'}

In [5]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

banana
cherry
apple

In [6]:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

In [7]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'banana', 'cherry', 'orange', 'apple'}

In [8]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'papaya', 'mango', 'apple', 'pineapple', 'cherry', 'banana'}

In [9]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'cherry', 'apple'}

In [10]:
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

{'cherry', 'apple'}

In [11]:
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

banana
{'cherry', 'apple'}

In [12]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{'a', 1, 2, 3, 'b', 'c'}

In [13]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{'a', 1, 2, 3, 'b', 'c'}

In [14]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)

print(z)

{'apple'}

In [15]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)

print(z)

{'microsoft', 'google', 'cherry', 'banana'}